.hero {
  background-image: url('/introduction/hero.jpeg');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}

.heroImage {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 600px;
  transform: translate(-50%, -50%);
  background-image: url('/treasure/paper.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.9;
}

@media (max-width: 1200px) {
  .heroImage {
    height: 900px;
    background-size: cover;
  }
}

.content {
  height: 800px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  z-index: 9999;
  text-align: center;
  white-space: pre-line;
  text-wrap: balance;
}