.background {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}

.backgroundList {
  background-image: url('/background-storage-list.jpg');
}

.backgroundUpload {
  background-image: url('/background-storage-upload.jpg');
}

.backgroundPreview {
  background-color: #fff;
}