.container {
	background-image: url('/treasure/mapTexture.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.textContainer {
	background-image: url('/treasure/paper.png');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	padding: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 600px;
	border-radius: 10px;
	filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
}

.textContainerOss {
	background-image: url('/treasure/bigPaper.png');
	height: 1600px;
	background-size: cover;
}

@media (max-width: 1200px) {
	.textContainer {
		height: 900px;
		background-size: cover;
	}

	.textContainerOss {
		height: 1500px;
	}
}

.title {
	font-size: 3rem;
	text-transform: uppercase;
	text-align: center;
}

.text {
	font-size: 1.5rem;
	text-align: center;
	width: min(100%, 1000px);
	padding: 1rem 0 4rem 0;
	text-wrap: balance;
	white-space: pre-line;
}

.secret {
	font-size: 2rem;
	text-wrap: balance;
	text-transform: uppercase;
	color: hsl(var(--color-primary-100));
}

.communityScreen {
	width: 1000px;
	height: auto;
	filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.3));
}

.buttonsContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 3rem;
	padding-top: 5rem;
}

.link {
	border-radius: 50px;
	font-size: 1.2rem;
	padding: 1.8rem 2rem;
	font-weight: bold !important;
}

.link:hover {
	cursor: pointer;
}
