.background {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}

.backgroundLogin {
  background-image: url('/background-login.jpg');
}

.backgroundRegister {
  background-image: url('/background-register.jpg');
}

